.List {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.List > input {
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 2px solid #ccc;
}
.List > input:focus {
  border-color: dodgerblue;
  outline: none;
}
.List .todos_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
