.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.TodoItem input {
  width: 20px;
}

.TodoItem .content {
  flex: 1;
}
.TodoItem .date {
  font-size: 14px;
  color: #aaa;
}
.TodoItem button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: #aaa;
  font-size: 14px;
  cursor: pointer;
}
